body{
    background-color:black;
    font-size:60px;
}

.col-8{
    background-color:blue;
}

p{
    font-size: 70px;
    text-align: center;
    
}

ul{
    dispaly:block;
    list-style-type: none;

}

ul li{
    display: inline;
}

footer{
    background-color: aquamarine;
}